body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: white;
  }
  .logo {
    text-align: left;
    padding-top: 5vh;
    padding-left: 8vw;
    padding-bottom: 50px;
  }
  .logo img {
    width: 15vw;
  }
.ratings {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    direction: rtl;
    text-align: center;
  }
  
  .star {
    position: relative;
    line-height: 60px;
    display: inline-block;
    transition: color 0.2s ease;
    color: #202650;
   
  }
  
  .star:before {
    content: '\2605';
    width: 60px;
    height: 60px;
    font-size: 60px;
  }
  
  .star:hover,
  .star.selected,
  .star:hover ~ .star,
  .star.selected ~ .star{
    transition: color 0.3s ease;
    color:  #00ffff;
  } 
  footer {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  button {
    font-weight: bold;
    color: black;
    background-color: #00ffff;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
  }
  button:hover {
    box-shadow: #00ffff 0 0 20px;
  }
  input {
    border: none;
    border-bottom: #d20094 solid 2px;
    background-color: transparent;
    color: white;
    padding-top: 20px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  h1{
    font-size: 4.5rem;
  }