@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background: url(../img/bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
}

span.bold {
  font-weight: bold;
}

/* header section */

header div.logo {
  width: 15%;
  padding: 2% 8% 0;
}

header div.logo img {
  width: 100%;
}

header div h1 {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

header div h2 {
  font-size: 2em;
  text-align: center;
  font-weight: 400;
  margin: 0 0 2%;
  font-family: "Outfit", sans-serif;
}

main div.inlineBox {
  display: inline-block;
  width: 20%;
  height: 45vh;
  position: relative;
}

main div.central {
  width: 59%;
  height: 50vh;
  position: relative;
}

/* circle section */

main div.central div.color1 {
  z-index: 3;
  border: 6.5vh solid;
  border-radius: 50%;
  border-color: #00ffff transparent #00ffff #00ffff;
  transform: rotate(-45deg);
  height: 250px;
  width: 250px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px black, inset 0 0 10px black;
}

main div.central div.color2 {
  z-index: 2;
  border: 6.5vh solid;
  border-radius: 50%;
  border-color: #d20094 transparent transparent #d20094;
  transform: rotate(-45deg);
  height: 250px;
  width: 250px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px black, inset 0 0 10px black;
}

main div.central div.color3 {
  z-index: 1;
  border: 6.5vh solid;
  border-radius: 50%;
  border-color: #00ffff;
  transform: rotate(-45deg);
  height: 250px;
  width: 250px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px black, inset 0 0 10px black;
}

/* inner text section */

main div.central div.innerCircle {
  position: absolute;
  text-align: center;
  font-size: 0.8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 40%;
  max-width: 300px;  
}

div.innerCircle h4.congSubtitle {
  position: absolute;
  font-size: 1.2em;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.innerCircle span.blue {
  color: aqua;
}

div.innerCircle p {
  font-size: 0.9em;
  width: 60%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main div.inlineBox p.percent {
  position: absolute;
  font-size: 3em;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 0;
}

main div.alignLeft p.percent {
  left: 100%;
}

main div.inlineBox span.question {
  font-size: 0.4em;
  font-weight: 400;
}

main div.alignLeft {
  text-align: left;
}

main div.alignRight {
  text-align: right;
}

/* footer section */

footer {
  position: relative;
  height: 15vh;
}

footer div.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 17%;
}

footer div.button p {
  border: solid 1px white;
  display: inline-block;
  font-weight: bold;
  color: white;
  font-size: 1.4em;
  padding: 8% 0;
  width: 100%;
  text-align: center;
}

footer div.button p:hover {
  box-shadow: 0px 0px 20px #3195e27c;
}

