@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;@400;700&family=Outfit:wght@300;400;700&display=swap');
body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}


header {
  margin-bottom: 10vh;
}

header .logo img {
  width: 15rem;
  padding-top: 5rem;
  padding-left: 8rem;
}
.titolo {
  color: white;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  margin: 5vw auto 5vw auto;
  font-family: "Outfit", sans-serif;
  width: 80%;
}

.titolo span {
  font-weight: 900;
}

.timer {
  color: white;
  position: absolute;
  top: 10vh;
  right: 7vw;
  font-family: "Outfit", sans-serif;
  font-size: 3em;
}

.options {
  color: white;
  font-family: "Inter", sans-serif;
  width: 80%;
  margin: 0 auto 0 auto;
}
.option {
  text-align: center;
  border: whitesmoke solid 3px;
  border-radius: 102px;
  padding: 40px;
  margin: 20px;
  background-color: rgba(192, 192, 192, 0.1);
  box-shadow: 2px 2px 5px;
  
}
.option:hover {
  background-color: #d20094;
}


footer {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: large;
  position: absolute;
  bottom: 2vh;
  left: 44vw;
 
}

footer .question-tot {
  color: #d20094;
}



#grafico { 
  width: 18%;
}
#correct, #wrong, #corretto, #sbagliato {
  display: flex;
}

.lineaBlocco {
    display: inline-block;
}

#testoCentro {
  width: 10%;
  color: white;
  position: absolute;
  bottom: 17em;
  left: 5em;
}